[Unit]
Description=Web App
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user
ExecStart=/usr/bin/python3 /home/ec2-user/web_app.py
Restart=always

[Install]
WantedBy=multi-user.target
